<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nome</th>
    <th scope="col">Notas</th>
<!--    <th scope="col">Status</th>-->
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Pedro</td>
    <td><a href="/bimestre/pedro">Visualizar Notas</a></td>
<!--    <td>Status</td>-->
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Maria</td>
    <td><a href="/alunos/maria">Visualizar Notas</a></td>
<!--    <td>Status</td>-->
  <tr>
    <th scope="row">3</th>
    <td>José</td>
    <td><a href="/alunos/jose">Visualizar Notas</a></td>
<!--    <td>Status</td>-->
  </tr>
  </tbody>
</table>

